

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: monospace; */
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a0202ab;
}

.calculator{
    max-width: 500px;
    /* height: 600px; */
    border-radius: 20px;
    background-color: #0e0d0dd5;
    overflow: hidden;
}

.calculator-content{
    padding: 20px;
    position: relative;
}


.input input{
    width: 100%;
    background-color: transparent;
    padding: 20px 0 0 0;
    font-size: 20px;
    border: none;
    color: #fff;
    display: flex;
    text-align: right;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.upperButton{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* width: 100%; */
    margin: 20px auto;
}

.upperButton button{
    background-color: #c79a08;
}

button{
    width: 50px;
    padding: 10px;
    font-size: 30px;
    background-color: #d4d2d241;
    color: #fff;
    border: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 50%;
}

button:hover{
    background-color: #d4d2d267;
}
button:active{
    background-color: #d4d2d2a2;
}

.calculator .calculator-content .buttons{
    display: flex;
    gap: 20px;
}


.calculator .calculator-content .operands{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.calculator .calculator-content .operators{
    display: grid;
}

.calculator .calculator-content .operators button{
    background-color: #c79a08;
}

footer{
    position: absolute;
    bottom: 0;
}